.home-section, #hero, [data-blox-block] {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

#hero .container {
  max-width: 95vw !important;
  width: 95% !important;
}

#hero img {
  max-width: 1100px !important;
  margin: 0 auto 0.5rem auto !important;
}

#hero .hero-lead {
  margin-top: 0 !important;
  text-align: center !important;
}

#hero .cta-btns {
  display: flex !important;
  justify-content: center !important;
}

/* Header alignment with flanking protein icons */
.navbar .container,
.navbar .container-fluid,
.navbar .container-xl {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.navbar-collapse {
    flex-grow: 1;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
}

.nav-icons {
    margin-left: auto;
}
