<div class="d-none d-lg-inline-flex">
  <a class="navbar-brand" href="/">
    <img src="/media/WVH_Logo_Left.png" alt="Left Logo" style="height: 40px;">
  </a>
</div>

<button type="button" class="navbar-toggler" data-toggle="collapse"
        data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
<span><i class="fas fa-bars"></i></span>
</button>

<div class="navbar-brand-mobile-wrapper d-inline-flex d-lg-none">
  <a class="navbar-brand" href="/">
    <img src="/media/WVH_Logo_Left.png" alt="Left Logo" style="height: 40px;">
  </a>
</div>
